openapi: 3.0.3
info:
  title: FisionTV+ Network Certifier API
  description: |
    Contract between the Android TV certifier app and the HWC backend that
    serves runtime config and ingests certification results. This file is
    the **source of truth** for both ends; the human-readable narrative
    in `BACKEND_API_SPEC.md` describes intent and rationale.

    Both projects consume this repository as a git submodule pinned to a
    semver tag. Bumping the major version is a breaking change requiring
    coordinated client + server updates.
  version: 2.3.0
  license:
    name: Proprietary — Hotwire Communications
servers:
  - url: https://certifier-api.gethotwired.com
    description: Production
  - url: https://certifier-api.staging.gethotwired.com
    description: Staging

security:
  - bearerAuth: []

paths:
  /v1/cert-config:
    get:
      operationId: getCertConfig
      summary: Fetch runtime config
      description: |
        Called by the app on launch (and on each Run again). The app caches
        the response with a 1-hour TTL and falls back to bundled defaults
        on 5xx or if the returned schemaVersion exceeds what the app knows
        how to consume.

        **Per-device targeting (v2.2.0+).** The server picks the cert-config
        that best matches the requesting device using the optional
        `X-Device-Manufacturer`, `X-Device-Model`, and `X-Device-Build-Fingerprint`
        headers. Resolution is deterministic, descending in specificity:

        1. Active row whose `targetBuildFingerprint` exact-matches the
           request header.
        2. Active row whose `targetModel` matches (with `targetBuildFingerprint`
           null).
        3. Active row whose `targetManufacturer` matches (with the other
           two null).
        4. Active row with all three selectors null (the **default**).

        Clients on pre-v2.2.0 builds (no headers) always resolve to the
        default. The `ETag` returned varies by the **resolved** config
        (`sha256(resolved-bytes)`), so a 304 from one device is not
        spuriously returned to another that resolves differently.
      parameters:
        - $ref: '#/components/parameters/DeviceId'
        - $ref: '#/components/parameters/AppVersion'
        - $ref: '#/components/parameters/SchemaVersion'
        - $ref: '#/components/parameters/DeviceManufacturer'
        - $ref: '#/components/parameters/DeviceModel'
        - $ref: '#/components/parameters/DeviceBuildFingerprint'
        - in: header
          name: If-None-Match
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Current active config
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CertConfig' }
        '304':
          description: ETag matched; client may use its cached copy
        '401': { $ref: '#/components/responses/Unauthorized' }
        '426':
          description: |
            Client `X-Schema-Version` is older than the minimum the server
            still serves. Client must update.

  /v1/certifications:
    post:
      operationId: postCertification
      summary: Submit a certification result
      description: |
        Idempotent on `certificationId`. A duplicate POST with a matching
        payload hash returns 200 with the stored record; a duplicate POST
        with a different payload hash returns 409.
      parameters:
        - $ref: '#/components/parameters/DeviceId'
        - $ref: '#/components/parameters/AppVersion'
        - $ref: '#/components/parameters/SchemaVersion'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CertificationResult' }
      responses:
        '201':
          description: First time this `certificationId` was seen; row inserted
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CertificationResult' }
        '200':
          description: Duplicate POST with matching payload hash
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CertificationResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: |
            Same `certificationId`, different payload hash. Almost always a
            client bug; server logs loudly and rejects.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '413':
          description: Payload exceeds the 256 KB cap
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/certifications/{id}:
    get:
      operationId: getCertification
      summary: Fetch a single certification result by ID
      parameters:
        - in: path
          name: id
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/DeviceId'
        - $ref: '#/components/parameters/AppVersion'
        - $ref: '#/components/parameters/SchemaVersion'
      responses:
        '200':
          description: The stored certification record
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CertificationResult' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: No such certification
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /v1/app/version:
    get:
      operationId: getAppVersion
      summary: Fetch the latest-app manifest
      description: |
        The client polls this on every launch. The response describes
        the latest released APK; the client uses it to drive a
        background auto-update pipeline. The certification is never
        blocked on update state — if the update fails (network blip,
        integrity mismatch, install refused) the client logs and
        proceeds on the installed version.

        Per-attempt pipeline: download → SHA verify → signing-cert
        verify → versionCode monotonicity check → install. The install
        commit is deferred while a cert is in flight (the OS would
        otherwise kill the cert process when replacing the app).

        Retry policy: transient failures (network, install session
        errors) retry 4 times total at 5s / 30s / 2min backoffs.
        Integrity failures (SHA / signing-cert / downgrade) abort
        permanently — retrying with the same bytes won't change the
        result. Exhausted retries are logged and the cert runs on the
        installed version.

        `minRequiredVersionCode` is **advisory** to the client: it does
        not gate the cert. The server is free to flag/dim/discard
        stored results whose originating `versionCode` is below the
        floor — the client's job is to produce a result the server can
        evaluate.

        Why this endpoint exists: cert correctness (tier thresholds,
        server lists, probe revisions) ships faster than firmware OTAs.
        Firmware guarantees a baseline working app; this endpoint plus
        the APK download bumps that baseline between OTA cycles.

        Integrity model:
          - The client SHA-256 verifies the downloaded APK against `apkSha256`.
          - The client verifies the APK's signing certificate SHA-256 matches
            BOTH `signingCertSha256` AND the compile-time pin baked into
            BuildConfig.APP_SIGNING_CERT_SHA256 (in firmware-shipped builds).
          - The client refuses to install an APK whose `versionCode` is
            less than or equal to the installed `versionCode`.
        These together mean a compromised manifest endpoint cannot ship a
        malicious APK without also possessing the production signing key.
      parameters:
        - $ref: '#/components/parameters/DeviceId'
        - $ref: '#/components/parameters/AppVersion'
        - $ref: '#/components/parameters/AppVersionCode'
        - in: header
          name: If-None-Match
          required: false
          schema: { type: string }
      responses:
        '200':
          description: Latest manifest
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AppVersionManifest' }
        '304':
          description: ETag matched; client uses its cached manifest
        '401': { $ref: '#/components/responses/Unauthorized' }
        '426':
          description: |
            The client's `X-App-Version-Code` is below a hard floor the
            server enforces (e.g., the app has known data-loss bugs and
            must update before any further interaction).

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    DeviceId:
      in: header
      name: X-Device-Id
      required: true
      schema: { type: string, format: uuid }
      description: App-generated, persistent per install
    AppVersion:
      in: header
      name: X-App-Version
      required: true
      schema: { type: string, example: "0.2.0" }
    AppVersionCode:
      in: header
      name: X-App-Version-Code
      required: true
      schema: { type: integer, minimum: 1, example: 50 }
      description: Installed app's versionCode — the server uses it to decide if a manifest with a different minRequired needs to be returned.
    SchemaVersion:
      in: header
      name: X-Schema-Version
      required: true
      schema: { type: integer, minimum: 1 }
      description: Highest schema version the client understands
    DeviceManufacturer:
      in: header
      name: X-Device-Manufacturer
      required: false
      schema: { type: string, maxLength: 255, example: "SEI Robotics" }
      description: |
        Value of Android `Build.MANUFACTURER`. Used by the server to
        resolve a per-device cert-config when the operator has created
        a manufacturer-targeted row. Empty / absent = no manufacturer
        selector (resolves to the all-null default unless a more
        specific match exists). Added in v2.2.0; pre-v2.2.0 clients
        send no header and resolve to the default.
    DeviceModel:
      in: header
      name: X-Device-Model
      required: false
      schema: { type: string, maxLength: 255, example: "FRC1-Hotwire" }
      description: |
        Value of Android `Build.MODEL`. See [DeviceManufacturer] for the
        resolution semantics. Added in v2.2.0.
    DeviceBuildFingerprint:
      in: header
      name: X-Device-Build-Fingerprint
      required: false
      schema:
        type: string
        maxLength: 255
        example: "EVOFORCE1/SEI800HW/SEI800HW:12/STTC.220803.001/1876:user/release-keys"
      description: |
        Value of Android `Build.FINGERPRINT`. Exact-equals match against
        the server-side selector — operators who want to target a class
        of builds rather than a single OS image should store the
        normalized prefix (cut at the trailing `:user/release-keys` and
        the incremental build id) and the client / operator agree on the
        normalization. The contract itself just pins exact-equals.
        Added in v2.2.0.

  responses:
    BadRequest:
      description: Validation failure
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:

    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
        details:
          type: array
          items:
            type: object
            properties:
              path: { type: string }
              msg: { type: string }

    # ──────────────────────────────────────────────────────────────────────
    # Cert config (GET /v1/cert-config)
    # ──────────────────────────────────────────────────────────────────────

    CertConfig:
      type: object
      required: [schemaVersion, configVersion, tests, tiers, uploadResults]
      properties:
        schemaVersion: { type: integer, minimum: 1 }
        configVersion:
          type: string
          description: Opaque; round-tripped in result POSTs for correlation
        tests: { $ref: '#/components/schemas/TestsConfig' }
        tiers:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/Tier' }
        uploadResults:
          type: object
          required: [enabled]
          properties:
            enabled: { type: boolean }
            endpoint: { type: string, nullable: true }
        # ─── Optional tunables (added in v1.3.0) ──────────────────────
        # Both sections are optional; when missing the client falls
        # back to its bundled defaults per-field. See SPEC.md §6.1 for
        # the operational effect of each knob.
        wifiLinkQuality: { $ref: '#/components/schemas/WifiLinkQualityConfig' }
        healthAssessment: { $ref: '#/components/schemas/HealthAssessmentConfig' }
        # ─── True killswitch (added in v2.1.0) ────────────────────────
        # When enabled, the Android client exits cleanly on receipt of
        # this config. Recovery is automatic on next app launch — the
        # launch path re-fetches the config and proceeds normally if
        # `enabled` has flipped back to false (or the block is absent).
        # Distinct from `uploadResults.enabled=false`, which only
        # suppresses publishing — certs still run locally.
        killswitch: { $ref: '#/components/schemas/Killswitch' }
        # ─── Device targeting (added in v2.2.0) ───────────────────────
        # Optional selectors that constrain which devices this row
        # applies to. The server picks the most-specific match per the
        # algorithm documented on `GET /v1/cert-config`. Nulls mean
        # "any"; an all-null row is the default that catches devices no
        # more-specific row matches. Operators should keep one row per
        # (selector-tuple, is_active=true) — the activate endpoint
        # deactivates other rows in the same target group, not
        # globally.
        targetManufacturer:
          type: string
          maxLength: 255
          nullable: true
          description: |
            Exact-match selector against `X-Device-Manufacturer`. Null =
            no manufacturer constraint.
        targetModel:
          type: string
          maxLength: 255
          nullable: true
          description: |
            Exact-match selector against `X-Device-Model`. Null = no
            model constraint.
        targetBuildFingerprint:
          type: string
          maxLength: 255
          nullable: true
          description: |
            Exact-match selector against `X-Device-Build-Fingerprint`.
            Null = no build-fingerprint constraint. Operators who want
            to target a class of builds rather than a single OS image
            should store the normalized prefix — see the
            `X-Device-Build-Fingerprint` header description for the
            normalization convention.
        # ─── DNS policy (added in v2.3.0) ─────────────────────────────
        # Optional. When set, the Android client compares its actual
        # `network.dnsServers` against `preferredServers` at cert time
        # and emits `CertificationResult.dnsAssessment`. The dashboard
        # flags any cert that resolved against a non-preferred server.
        # When the field is null/absent, no assessment is computed and
        # no flag is rendered — operators that don't care about DNS
        # posture pay no cost.
        dnsPolicy: { $ref: '#/components/schemas/DnsPolicyConfig' }

    DnsPolicyConfig:
      type: object
      description: |
        Operator-declared list of nameservers the fleet is expected to
        use. Matching is **strict** (every actual server must be in this
        list) and **literal** (string-equality, not CIDR / hostname /
        wildcard). Empty actual `dnsServers` is vacuously "all
        preferred" — a box with no DNS configured fails upstream tests
        and shouldn't be flagged twice.
      required: [preferredServers]
      properties:
        preferredServers:
          type: array
          minItems: 1
          items:
            type: string
            maxLength: 255
          description: |
            Literal DNS server addresses (e.g. `"1.1.1.1"`,
            `"2606:4700:4700::1111"`). The server does not parse or
            validate these as IPs — operators get to use whatever
            string they want, including hostnames if they have a
            convention. The client compares against
            `network.dnsServers` byte-for-byte.

    WifiLinkQualityConfig:
      type: object
      description: |
        RSSI bands and rate-adaptation cutoff that produce the
        STRONG / GOOD / MARGINAL / WEAK badge on each cert.
        Ordering invariant (enforced client-side): excellent > strong > good.
      required: [excellentRssiMin, strongRssiMin, goodRssiMin, rateAdaptationDegradedThreshold]
      properties:
        excellentRssiMin:
          type: integer
          minimum: -100
          maximum: 0
          description: RSSI ≥ this (dBm) → STRONG. Default -55.
        strongRssiMin:
          type: integer
          minimum: -100
          maximum: 0
          description: RSSI in [strongRssiMin, excellentRssiMin) → STRONG. Default -65.
        goodRssiMin:
          type: integer
          minimum: -100
          maximum: 0
          description: RSSI in [goodRssiMin, strongRssiMin) → GOOD. Below → MARGINAL/WEAK. Default -75.
        rateAdaptationDegradedThreshold:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: |
            If actual link rate / max supported rate < this, flag the link
            as degraded regardless of RSSI. Default 0.5.

    HealthAssessmentConfig:
      type: object
      description: |
        Headroom buckets and top-tier stretch factors that produce the
        EXCELLENT / STRONG / GOOD / MARGINAL `health.rating` field on
        each cert result. Ordering invariant (enforced client-side):
        excellent > strong > good, all in (0, 100].
      required:
        - excellentMin
        - strongMin
        - goodMin
        - topTierStretchUpFactor
        - topTierStretchDownFactor
      properties:
        excellentMin:
          type: integer
          minimum: 1
          maximum: 100
          description: headroom% ≥ this → EXCELLENT. Default 80.
        strongMin:
          type: integer
          minimum: 1
          maximum: 100
          description: headroom% in [strongMin, excellentMin) → STRONG. Default 55.
        goodMin:
          type: integer
          minimum: 1
          maximum: 100
          description: headroom% in [goodMin, strongMin) → GOOD. Below → MARGINAL. Default 30.
        topTierStretchUpFactor:
          type: number
          # OpenAPI 3.0: exclusiveMinimum is the boolean toggle paired
          # with minimum. (3.1 lets you use a numeric exclusiveMinimum
          # directly; we stay on 3.0.3 to match the rest of the spec.)
          minimum: 1.0
          exclusiveMinimum: true
          description: |
            At the top tier (uhd_hdr) the achieved download is capped at
            this × the tier minimum before headroom% is computed — so
            limitless connections don't inflate to 1000% headroom.
            Default 1.5.
        topTierStretchDownFactor:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: |
            Top-tier MARGINAL floor as a fraction of the tier minimum.
            A connection that just barely cleared 4K HDR still reads
            MARGINAL if its absolute headroom is small. Default 0.66.

    Killswitch:
      type: object
      description: |
        True killswitch. When `enabled: true`, the Android client exits
        cleanly on receipt of this config — no UI, no further work, no
        special screen. Recovery is automatic on next app launch: the
        normal launch fetch picks up whatever the active cert-config
        currently says and proceeds (or exits again if killswitch is
        still on).

        Distinct from `uploadResults.enabled=false`, which only suppresses
        publishing — under that flag certs still run locally.

        `reason` is optional and informational (round-tripped into the
        Android logcat at exit time so techs can correlate). Not shown
        to the user.
      required: [enabled]
      properties:
        enabled: { type: boolean }
        reason: { type: string, nullable: true }

    # OoklaServer describes the server Ookla SELECTED for a given run;
    # it appears in CertificationResult, not in CertConfig (server
    # selection is delegated entirely to the Ookla embed-config).
    OoklaServer:
      type: object
      required: [id, name, host, port, secure]
      properties:
        id: { type: string, example: "mia" }
        name: { type: string, example: "Miami" }
        host: { type: string, example: "speedtestmia.gethotwired.com" }
        port: { type: integer, minimum: 1, maximum: 65535, default: 8080 }
        secure: { type: boolean, default: true }

    TestsConfig:
      type: object
      required: [download, upload, playback]
      properties:
        download: { $ref: '#/components/schemas/ThroughputPhaseConfig' }
        upload: { $ref: '#/components/schemas/ThroughputPhaseConfig' }
        playback: { $ref: '#/components/schemas/PlaybackPhaseConfig' }

    # The only knob we control in throughput phases is the TCP stream
    # count — passed to libookla.so as `--download-conn-range` /
    # `--upload-conn-range`. Phase duration, per-request bytes, and
    # warmup fraction live in the Ookla embed-config response — see
    # SPEC §6.1.1.
    ThroughputPhaseConfig:
      type: object
      required: [parallel]
      properties:
        parallel: { type: integer, minimum: 1, maximum: 16 }

    PlaybackPhaseConfig:
      type: object
      required: [manifestUrl, durationSec]
      properties:
        manifestUrl: { type: string, format: uri }
        durationSec: { type: integer, minimum: 5, maximum: 120 }

    Tier:
      type: object
      required:
        - id
        - displayName
        - minDownloadMbps
        - maxLatencyMs
        - maxJitterMs
        - minPlaybackHeight
      properties:
        id:
          type: string
          enum: [sd, hd, uhd, uhd_hdr, none]
        displayName: { type: string }
        minDownloadMbps: { type: number, minimum: 0 }
        minUploadMbps: { type: number, minimum: 0 }
        maxLatencyMs: { type: integer, minimum: 1 }
        maxJitterMs: { type: integer, minimum: 1 }
        minPlaybackHeight: { type: integer, minimum: 1 }
        minPlaybackBitrateKbps: { type: integer, minimum: 0 }
        requiresHdr: { type: boolean, default: false }

    # ──────────────────────────────────────────────────────────────────────
    # Certification result (POST /v1/certifications body)
    # ──────────────────────────────────────────────────────────────────────

    CertificationResult:
      type: object
      required:
        - schemaVersion
        - configVersion
        - certificationId
        - deviceId
        - startedAt
        - completedAt
        - device
        - identity
        - capabilities
        - network
        - result
        - metrics
      properties:
        schemaVersion: { type: integer, minimum: 1 }
        configVersion: { type: string }
        certificationId: { type: string, format: uuid }
        deviceId: { type: string, format: uuid }
        startedAt: { type: string, format: date-time }
        completedAt: { type: string, format: date-time }
        # ─── Submission timestamps (added by the app at POST time) ───
        # startedAt/completedAt describe when the certification ran on the
        # STB. When the publish API is unavailable, results queue locally
        # and may not be POSTed for hours or days. The two fields below
        # tell the backend when the row entered the queue and when this
        # specific POST attempt was made — so the API can key its storage
        # off completedAt (the cert time) instead of request-received time
        # and still report queue/transmission delay.
        #
        # Both are absent on payloads queued by app versions earlier than
        # the one that introduced them, so consumers should treat them
        # as optional.
        enqueuedAt:
          type: string
          format: date-time
          description: When the result was first enqueued on the device. Present on payloads stamped by PublishQueue.
        submittedAt:
          type: string
          format: date-time
          description: When this POST attempt left the device. Refreshed per attempt; on a successful first try it is close to enqueuedAt, on a queued-then-drained row it can be hours or days later.
        device: { $ref: '#/components/schemas/DeviceInfo' }
        identity: { $ref: '#/components/schemas/DeviceIdentity' }
        capabilities: { $ref: '#/components/schemas/Capabilities' }
        network: { $ref: '#/components/schemas/NetworkInfo' }
        wifi:
          type: object
          allOf: [{ $ref: '#/components/schemas/WifiInfo' }]
          nullable: true
        result: { $ref: '#/components/schemas/CertResult' }
        metrics: { $ref: '#/components/schemas/Metrics' }
        # ─── DNS policy verdict (added in v2.3.0) ─────────────────────
        # Present when the active CertConfig had a non-null `dnsPolicy`;
        # absent otherwise. The client computes the assessment at cert
        # time using strict, literal-string set-membership against
        # `network.dnsServers`. Pre-v2.3.0 clients never emit this
        # field, so the dashboard must treat its absence as "no
        # judgment made" (NOT "all preferred").
        dnsAssessment:
          type: object
          allOf: [{ $ref: '#/components/schemas/DnsAssessment' }]
          nullable: true

    DnsAssessment:
      type: object
      description: |
        Client-computed verdict on whether the STB's actual DNS
        nameservers matched the cert-config's `dnsPolicy.preferredServers`.
        Frozen at cert time — re-configuring the policy later does not
        retroactively change the assessment on historical payloads.
      required: [configuredPreferred, nonPreferred, allPreferred]
      properties:
        configuredPreferred:
          type: array
          items: { type: string }
          description: |
            Round-trip of the cert-config's `preferredServers` at the
            instant the cert ran. Carried in-payload so the dashboard
            renders the verdict without having to re-resolve the
            config — and so an audit reading historical rows can see
            what policy was in effect when each cert was assessed.
        nonPreferred:
          type: array
          items: { type: string }
          description: |
            Subset of `network.dnsServers` that is NOT in
            `configuredPreferred`. Empty array when `allPreferred` is
            true.
        allPreferred:
          type: boolean
          description: |
            True iff every entry in `network.dnsServers` is also in
            `configuredPreferred`. Vacuously true when
            `network.dnsServers` is empty.

    DeviceInfo:
      type: object
      required: [model, manufacturer, androidVersion, apiLevel, appVersion, appVersionCode]
      properties:
        model: { type: string }
        manufacturer: { type: string }
        androidVersion: { type: string }
        apiLevel: { type: integer }
        buildFingerprint: { type: string }
        appVersion: { type: string }
        appVersionCode: { type: integer, format: int64 }
        uptimeMs: { type: integer, format: int64 }

    DeviceIdentity:
      type: object
      required: [deviceId]
      properties:
        deviceId: { type: string, format: uuid }
        hsn: { type: string, nullable: true }
        hardwareSerial: { type: string, nullable: true }
        ethernetMac: { type: string, nullable: true }
        wifiMac: { type: string, nullable: true }

    Capabilities:
      type: object
      required: [display, audio, thermal, memory, storage, locale, power, system, wifiSupport, bootTimeEpochMs]
      properties:
        drm:
          type: object
          allOf: [{ $ref: '#/components/schemas/DrmCapabilities' }]
          nullable: true
        display: { $ref: '#/components/schemas/DisplayCapabilities' }
        videoCodecs:
          type: array
          items: { $ref: '#/components/schemas/CodecCapability' }
        audio: { $ref: '#/components/schemas/AudioCapabilities' }
        thermal:
          type: object
          properties:
            status:
              type: string
              enum: [NONE, LIGHT, MODERATE, SEVERE, CRITICAL, EMERGENCY, SHUTDOWN, UNAVAILABLE, UNKNOWN]
        memory:
          type: object
          properties:
            totalMb: { type: integer, format: int64 }
            availableMb: { type: integer, format: int64 }
            thresholdMb: { type: integer, format: int64 }
            lowMemory: { type: boolean }
        storage:
          type: object
          properties:
            dataPartitionFreeMb: { type: integer, format: int64 }
            dataPartitionTotalMb: { type: integer, format: int64 }
        locale:
          type: object
          properties:
            locale: { type: string, example: "en-US" }
            timezoneId: { type: string }
            timezoneOffsetMin: { type: integer }
        power:
          type: object
          properties:
            acPlugged: { type: boolean }
            batteryPresent: { type: boolean }
            batteryLevelPct: { type: integer, nullable: true }
        system:
          type: object
          properties:
            developerOptionsEnabled: { type: boolean }
            adbEnabled: { type: boolean }
            isDebuggable: { type: boolean }
        wifiSupport: { $ref: '#/components/schemas/WifiSupport' }
        bootReason: { type: string, nullable: true }
        bootTimeEpochMs: { type: integer, format: int64 }

    DrmCapabilities:
      type: object
      properties:
        widevineSecurityLevel:
          type: string
          enum: [L1, L2, L3]
          nullable: true
        widevineSystemId: { type: string, nullable: true }
        widevineHdcpLevel: { type: string, nullable: true }
        widevineMaxHdcpLevel: { type: string, nullable: true }
        widevineVersion: { type: string, nullable: true }

    DisplayCapabilities:
      type: object
      properties:
        widthPx: { type: integer }
        heightPx: { type: integer }
        refreshRateHz: { type: number }
        densityDpi: { type: integer }
        supportedModes:
          type: array
          items:
            type: object
            properties:
              widthPx: { type: integer }
              heightPx: { type: integer }
              refreshRateHz: { type: number }
        hdrTypes:
          type: array
          items:
            type: string
            enum: [HDR10, HDR10_PLUS, DOLBY_VISION, HLG]

    CodecCapability:
      type: object
      properties:
        name: { type: string }
        mimeType: { type: string }
        isHardwareAccelerated: { type: boolean }
        maxWidth: { type: integer, nullable: true }
        maxHeight: { type: integer, nullable: true }
        maxFrameRate: { type: integer, nullable: true }

    AudioCapabilities:
      type: object
      properties:
        supportedEncodings:
          type: array
          items: { type: string }
        hdmiConnected: { type: boolean }

    WifiSupport:
      type: object
      properties:
        isWifiEnabled: { type: boolean }
        fiveGhzSupported: { type: boolean }
        sixGhzSupported: { type: boolean, nullable: true }
        sixtyGhzSupported: { type: boolean, nullable: true }
        wpa3SaeSupported: { type: boolean, nullable: true }
        wpa3SuiteBSupported: { type: boolean, nullable: true }
        easyConnectSupported: { type: boolean, nullable: true }
        enhancedOpenSupported: { type: boolean, nullable: true }
        staApConcurrencySupported: { type: boolean, nullable: true }
        multiStaConcurrencySupported: { type: boolean, nullable: true }
        tdlsSupported: { type: boolean, nullable: true }

    NetworkInfo:
      type: object
      required: [transport, vpnActive, metered, validated, dnsServers]
      properties:
        transport:
          type: string
          enum: [WIFI, ETHERNET, CELLULAR, VPN, OTHER]
        vpnActive: { type: boolean }
        metered: { type: boolean }
        validated: { type: boolean }
        linkDownstreamKbps: { type: integer, nullable: true }
        linkUpstreamKbps: { type: integer, nullable: true }
        privateIp: { type: string, nullable: true }
        gatewayIp: { type: string, nullable: true }
        dnsServers:
          type: array
          items: { type: string }
        publicIp: { type: string, nullable: true }
        dhcp:
          type: object
          allOf: [{ $ref: '#/components/schemas/DhcpInfo' }]
          nullable: true

    DhcpInfo:
      type: object
      properties:
        serverAddress: { type: string, nullable: true }
        gateway: { type: string, nullable: true }
        netmask: { type: string, nullable: true }
        ipAddress: { type: string, nullable: true }
        leaseSec: { type: integer, nullable: true }
        dns1: { type: string, nullable: true }
        dns2: { type: string, nullable: true }

    WifiInfo:
      type: object
      required: [rssiDbm, signalLevel, linkSpeedMbps, frequencyMhz, band, standard, security]
      properties:
        rssiDbm: { type: integer }
        signalLevel: { type: integer, minimum: 0, maximum: 4 }
        linkSpeedMbps: { type: integer }
        txLinkSpeedMbps: { type: integer, nullable: true }
        rxLinkSpeedMbps: { type: integer, nullable: true }
        maxSupportedTxLinkSpeedMbps: { type: integer, nullable: true }
        maxSupportedRxLinkSpeedMbps: { type: integer, nullable: true }
        frequencyMhz: { type: integer }
        band:
          type: string
          enum: [BAND_2_4_GHZ, BAND_5_GHZ, BAND_6_GHZ, UNKNOWN]
        channelWidthMhz: { type: integer, nullable: true }
        standard:
          type: string
          enum: [LEGACY_11A, LEGACY_11B, LEGACY_11G, N_11N, AC_11AC, AX_11AX, BE_11BE, UNKNOWN]
        security:
          type: string
          enum: [OPEN, WEP, WPA, WPA2_PSK, WPA2_EAP, WPA3, UNKNOWN]
        ssid: { type: string, nullable: true }
        bssid: { type: string, nullable: true }
        supplicantState: { type: string, nullable: true }
        hiddenSsid: { type: boolean, nullable: true }

    CertResult:
      type: object
      required: [achievedTier, tierBreakdown, health]
      properties:
        achievedTier:
          type: string
          enum: [sd, hd, uhd, uhd_hdr, none]
        marginalMetric: { type: string, nullable: true }
        tierBreakdown:
          type: array
          items:
            type: object
            properties:
              tierId: { type: string }
              passed: { type: boolean }
              failedChecks:
                type: array
                items: { type: string }
        health:
          type: object
          properties:
            headroomPct: { type: integer, minimum: 0, maximum: 100 }
            rating:
              type: string
              enum: [EXCELLENT, STRONG, GOOD, MARGINAL, FAILED]
            limitingMetric: { type: string, nullable: true }
            nextTier: { type: string, nullable: true }
            perMetric:
              type: object
              additionalProperties: { type: integer }
        wifiLink:
          type: object
          allOf: [{ $ref: '#/components/schemas/WifiLinkAdvisory' }]
          nullable: true

    WifiLinkAdvisory:
      type: object
      properties:
        rating:
          type: string
          enum: [EXCELLENT, STRONG, GOOD, MARGINAL, FAILED]
        rssiDbm: { type: integer }
        band: { type: string }
        linkSpeedMbps: { type: integer }
        maxSupportedMbps: { type: integer, nullable: true }
        rateAdaptationDegraded: { type: boolean }
        advice: { type: string }

    Metrics:
      type: object
      required: [selectedServer, download, upload, latency, dns, playback]
      properties:
        selectedServer:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
            host: { type: string }
            rttMs: { type: integer, format: int64 }
        serverProbes:
          type: array
          items:
            type: object
            properties:
              id: { type: string }
              name: { type: string }
              host: { type: string }
              rttMs: { type: integer, format: int64 }
              ok: { type: boolean }
              selected: { type: boolean }
        download: { $ref: '#/components/schemas/ThroughputMetric' }
        upload: { $ref: '#/components/schemas/ThroughputMetric' }
        latency:
          type: object
          properties:
            medianMs: { type: integer }
            jitterMs: { type: integer }
            samples:
              type: array
              maxItems: 200
              items: { type: integer }
        dns:
          type: object
          properties:
            medianMs: { type: integer }
            maxMs: { type: integer }
            failureCount: { type: integer }
            samples:
              type: array
              maxItems: 200
              items:
                type: object
                properties:
                  host: { type: string }
                  resolveMs: { type: integer }
                  success: { type: boolean }
                  resolvedIps:
                    type: array
                    items: { type: string }
                  error: { type: string, nullable: true }
        playback:
          type: object
          properties:
            startupMs: { type: integer, format: int64 }
            rebufferCount: { type: integer }
            totalRebufferMs: { type: integer, format: int64 }
            peakBitrateKbps: { type: integer }
            peakHeight: { type: integer }
            bitrateSwitchCount: { type: integer }
            playedSec: { type: integer }

    ThroughputMetric:
      type: object
      required: [steadyMbps, peakMbps, durationSec]
      properties:
        steadyMbps: { type: number }
        peakMbps: { type: number }
        durationSec: { type: integer }
        samples:
          type: array
          maxItems: 200
          items: { type: number }

    # ──────────────────────────────────────────────────────────────────────
    # App self-update manifest (body of GET /v1/app/version)
    # ──────────────────────────────────────────────────────────────────────

    AppVersionManifest:
      type: object
      required:
        - schemaVersion
        - latestVersionName
        - latestVersionCode
        - minRequiredVersionCode
        - apkUrl
        - apkSizeBytes
        - apkSha256
        - signingCertSha256
      properties:
        schemaVersion: { type: integer, minimum: 1 }
        latestVersionName:
          type: string
          example: "0.7.1"
          description: Human-readable semver of the latest released APK.
        latestVersionCode:
          type: integer
          minimum: 1
          example: 71
          description: Monotonic build counter of the latest released APK.
        minRequiredVersionCode:
          type: integer
          minimum: 1
          example: 68
          description: |
            Advisory floor — the version the server would prefer
            results came from. The client does NOT gate the cert on
            this; it auto-updates in the background but always lets
            the cert run, even on outdated installs. The server-side
            decides what to do with results from clients below the
            floor (flag, dim, discard, etc.). Must be <= latestVersionCode.
        apkUrl:
          type: string
          format: uri
          example: "https://certifier-api.gethotwired.com/v1/app/download/0.7.1.apk"
          description: Absolute URL the client downloads the APK from. May be the API host or a CDN. Must be HTTPS in production.
        apkSizeBytes:
          type: integer
          format: int64
          minimum: 1
          example: 12345678
          description: Exact size of the APK. The client refuses to install if downloaded bytes don't match.
        apkSha256:
          type: string
          pattern: "^[0-9a-f]{64}$"
          example: "ab12cd34ef560000000000000000000000000000000000000000000000000000"
          description: Lowercase hex SHA-256 of the APK bytes. The client refuses to install on mismatch.
        signingCertSha256:
          type: string
          pattern: "^[0-9a-f]{64}$"
          example: "ff009911000000000000000000000000000000000000000000000000000000ff"
          description: |
            Lowercase hex SHA-256 of the APK's signing certificate. The
            client checks this against the actual cert of the downloaded
            APK AND against `BuildConfig.APP_SIGNING_CERT_SHA256` (the
            compile-time pin baked into firmware-shipped builds). Both
            must match before install.
        releaseNotes:
          type: string
          nullable: true
          example: "Adjusted 4K-HDR tier thresholds; added ATL-3 server."
          description: |
            Optional human-readable note. Reserved for future client
            surface; the current client auto-updates silently and does
            not display this anywhere.
        publishedAt:
          type: string
          format: date-time
          nullable: true
          description: When this release was published. Informational only — not used in any gating logic.
